@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&family=Rampart+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

* {
    margin: 0;
    padding: 0;
}
:root {
    --cor-Primaria: #B80C09;
    --cor-secundaria: #010101;
    --cor-tercearia: #f8f4e3;
    --cor-quartenaria: #882a2a;
    --fonte-de-titulo: 'Libre Baskerville', serif;
    --fonte-do-paragrago: 'Lobster','cursive';
}
body {
    box-sizing: border-box;
    background-color: var(--cor-secundaria);
    color: var(--cor-Primaria);
}
header {
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    font-family: var(--fonte-de-titulo);
    font-size: 1.5rem;
    background-color: var(--cor-Primaria);
    color: var(--cor-tercearia);
    gap: 20%;
}
.paginas {
    display: flex;
    flex-direction:row;
    justify-content: baseline;
    gap: 40px;
    text-decoration: none;
}
.paginas__navegacao {
    margin: auto;
    padding: 5px;
    font-family: var(--fonte-do-paragrago);
    font-size: 1rem;
    text-align: center;
    background-color: var(--cor-quartenaria);
    
    
    color: var(--cor-tercearia);
    text-decoration: none;
    border-radius: 10px;
}
main {
    
    padding: 5%;
    display: flex;
    align-items: center;
    gap: 10px;
    
    
}
.informacoes {
   
    width: 50%;
    text-align: center;
    display: flex;
    flex-direction:column;
    justify-content: baseline;
    
}
.informacoes__titulo {
    font-size: 2,5rem;
    font-family: var(--fonte-de-titulo)
}
strong{
    color:var(--cor-Primaria)
}
.informacoes__conteudo {
    color: var(--cor-tercearia);
    font-size: 1,5rem;
    font-family: var(--fonte-do-paragrago)
     
}
.imagem {

    width: 30%;
    height: 30%;      
}
footer {
    background-color: var(--cor-Primaria);
    color: var(--cor-tercearia);
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
    font-family: 'Libre baskerville', serif;
    font-size: 1,5rem;
}
a:hover{
    background-color: var(--cor-tercearia);
    color: var(--cor-quartenaria);
}
.links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'Libre baskerville', serif;
    font-size: 1,5rem;
    gap: 3px;
    
}
.links__link {
    
    background-color: var(--cor-secundaria);
    color: var(--cor-tercearia);
    font-family: 'Libre Baskerville', serif;
    width: 80px;
    font-size: 0.5rem;
    text-decoration: none;
    text-align: center;
    border-radius: 10px;
    margin: auto;
}
.img__rede__social{
    width: 50%;
    height: 50%;
}
@media(max-width:1200px){
    main{
        display: flex;
        flex-direction: column-reverse;
    }
}